@use '/src/styles.scss' as styles;

// ng-deep so we can remove the context of ng-content
::ng-deep .stroked-button-component {
  &.light-text {
    * {
      color: map-get(styles.$text-gray, lightest);
    }
  }

  &.text-shadow {
    * {
      text-shadow: black 0 0 2px, black 0 0 4px, black 0 0 8px;
    }
  }
}

.stroked-button-component {
  transition: all 200ms;

  &:hover {
    transform: scale(1.025);
  }
}

.oversized {
  padding: 2rem 3rem;

  @media (max-width: map-get(styles.$breakpoints, large)) {
    & {
      padding: 1.5rem 2rem;
    }
  }
}

.strokeAccent {
  border-color: map-get(styles.$accent, default) !important;
}

.strokePrimary {
  border-color: map-get(styles.$primary, default) !important;
}

.strokePrimary {
  border-color: map-get(styles.$warn, default) !important;
}

.strokeNone {
  border: 0 transparent solid;
}
