@use '/src/styles.scss' as styles;

.strokeAccent {
  border-color: map-get(styles.$accent, default) !important;
}

.strokePrimary {
  border-color: map-get(styles.$primary, default) !important;
}

.strokePrimary {
  border-color: map-get(styles.$warn, default) !important;
}

.strokeNone {
  border: 0 transparent solid;
}
