@use '/src/styles.scss' as styles;

.contents {
  width: 100%;
}

@media (min-width: map-get(styles.$breakpoints, medium)) {
  .contents {
    text-align: left;

    img {
      height: 3rem;
      object-fit: contain;
    }
  }
}

@media (max-width: map-get(styles.$breakpoints, medium)) {
  .contents {
    align-items: center;
    text-align: center;

    img {
      height: 2rem;
    }
  }
}
