<div class="large-contents col">
  <div class="large flex row" [class.reverse]="imageSide === 'right'">
    <div class="flex image">
      <img alt="{{ altText }}" src="{{ imageSource }}" />
    </div>
    <div class="col flex2 text" [class.align-right]="imageSide === 'right'">
      <h3>{{ title }}</h3>
      <p *ngIf="description">{{ description }}</p>
    </div>
  </div>
</div>

<div class="small-contents">
  <h3>{{ title }}</h3>
  <mat-icon color="accent">code</mat-icon>
  <p *ngIf="description">{{ description }}</p>
</div>
