@use 'src/styles.scss' as styles;

.large-contents {
  width: 100%;
  padding: 10rem 2rem;
  align-items: center;

  & > div {
    max-width: 1920px;
    height: 100%;
    max-width: 100%;
    align-items: stretch;
    justify-content: center;
    gap: 2rem;

    &.reverse {
      flex-direction: row-reverse;
    }

    .align-right {
      align-items: flex-end;
    }

    .image {
      overflow: hidden;

      img {
        height: 100%;
      }
    }

    .text {
      justify-content: center;

      p {
        line-height: 2rem;
      }
    }
  }
}

.small-contents {
  padding: 4rem 2rem;

  mat-icon {
    $size: 2rem;
    width: $size;
    height: $size;
    font-size: $size;
  }
}

@media (min-width: map-get(styles.$breakpoints, large)) {
  .large-contents {
    min-height: 60vh;

    & > div {
      gap: 5rem;
    }
  }

  .small-contents {
    display: none;
  }
}

@media (max-width: map-get(styles.$breakpoints, large)) {
  .large-contents {
    & > div.row {
      gap: 2rem;
    }
  }

  .small-contents {
    display: none;
  }
}

@media (max-width: map-get(styles.$breakpoints, medium)) {
  .large-contents {
    display: none;
  }

  .small-contents {
    display: block;
  }
}
