@use '/src/styles.scss' as styles;

.contents {
  justify-content: center;
  align-items: center;
  background-color: map-get(styles.$background-levels, default);
  padding: 5rem;

  & > div {
    align-items: center;
    width: 100%;
    gap: 2rem;

    .header {
      text-align: center;
      gap: 0.5rem;
    }

    .carousel {
      background-color: blue;
      background-image: url('/assets/local/main-profile-image/large.jpg');
      height: 40rem;
      width: 100%;
      background-repeat: no-repeat;
    }

    .tiles {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
      width: 100%;
      max-width: 64rem;

      @media (max-width: 760px) {
        grid-template-columns: repeat(2, 1fr);
      }

      & > * {
        width: 100%;
        height: 100%;
      }
    }
  }
}
