@use '/src/styles.scss' as styles;

.contents {
  width: 100%;
  height: 100%;
  transition: all 200ms;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;

  &:hover {
    filter: drop-shadow(0 0 10px #000);
    transform: scale(1.05);

    * {
      opacity: 1;
    }

    & > div {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 1rem;

      ul {
        overflow-y: auto;
      }

      .row {
        flex: none;
        justify-content: center;
      }
    }
  }

  * {
    opacity: 0;
    color: map-get(styles.$text-gray, lightest);
  }
}
