@use '/src/styles.scss' as styles;

.contents {
  display: inline-block;
  position: relative;
  width: 100%;

  .square-div {
    margin-top: 100%; // Hack to get the height to always match the width
  }

  .actual-contents {
    position: absolute; // Hack to get the height to always match the width
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    transition: all 200ms;
    background-repeat: no-repeat;
    background-size: contain;

    &:hover {
      transform: scale(1.05);

      &:before {
        filter: blur(8px);
      }

      * {
        opacity: 1;
      }

      .overlay {
        width: 100%;
        height: 100%;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        p {
          color: map-get(styles.$text-gray, lightest);
        }
      }
    }

    & > div {
      width: 100%;
      height: 100%;
    }

    * {
      opacity: 0;
    }
  }
}
