@use '/src/styles.scss' as styles;

.contents {
  align-items: center;
  text-align: center;
  gap: 2rem;

  .cards {
    max-width: 100rem;
    display: flex;
    justify-content: center;
    gap: 1rem;

    width: 100%;

    .card {
      padding: 1rem;
      border-radius: 8px;
    }
  }
}

@media (max-width: map-get(styles.$breakpoints, medium)) {
  .contents {
    .cards {
      flex-direction: column;
    }
  }
}
