<div class="contents col">
  <div class="title col">
    <h2>My Experience</h2>
    <p class="subtitle">
      Take a look at some of the places I've worked, as well as my personal projects
    </p>
  </div>
  <div class="cards">
    <div class="card flex">
      <shared-circle-image-statement
        alt="Utah State University Logo"
        description="Full Stack Developer at Utah State building and maintaining critical network management and monitoring sites. Worked hand in hand with the networking team to create the most pragmatic sites for both their internal and external tool sets."
        image="{{ environment.assetPrefix }}logos/usu.svg"
        title="Utah State University"
      ></shared-circle-image-statement>
    </div>
    <div class="card flex">
      <shared-circle-image-statement
        alt="Guru Technologies Logo"
        description="Lead Full Stack Engineer specializing in heading green field projects to meet client needs. Work includes meeting daily with clients, managing a team of engineers, and architecting simple effective solutions."
        image="{{ environment.assetPrefix }}logos/guru.png"
        title="Guru Technologies"
      ></shared-circle-image-statement>
    </div>
    <div class="card flex">
      <shared-circle-image-statement
        alt="Frog sprites"
        description="Personal project to learn more about game development and game engines. The game features a game engine built from scratch and all components built by hand. This project is a work in progress and will continue to gain levels and robustness."
        image="{{ environment.assetPrefix }}logos/frogger-frogs.png"
        title="Frogger"
      ></shared-circle-image-statement>
    </div>
  </div>
  <div class="actions">
    <shared-stroked-button [oversized]="true" [stroke]="BasicColors.accent">
      GitHub
    </shared-stroked-button>
  </div>
</div>
