<div class="contents">
  <home-page-banner-image
    [imageSource]="environment.assetPrefix + 'main-profile-image/small.jpg'"
    [imageSizes]="bannerImageSizes"
  />
  <home-page-single-image-statement
    altText="Code sample"
    description="I am passionate about creating quality experiences that are fast, responsive, and beautiful. I place emphasis on user feedback to create a superior product interaction."
    title="My passion is full-stack web development"
    [imageSource]="environment.assetPrefix + 'code-sample.png'"
  ></home-page-single-image-statement>
  <home-page-skill-list></home-page-skill-list>
  <home-page-my-work></home-page-my-work>
  <shared-contact-me-banner header="So you like what you see?"></shared-contact-me-banner>
  <home-page-outside-of-work-banner></home-page-outside-of-work-banner>
  <shared-contact-me-banner
    header="Now that you know me a little better, lets talk."
  ></shared-contact-me-banner>
</div>
