<div class="contents">
  <home-page-banner-image [imageSource]="environment.assetPrefix + 'main-profile-image.jpg'" />
  <home-page-single-image-statement
    description="Not only do I love to build great websites, I love to make tem look and feel beautiful too. I don't believe a website is complete until the frontend, backend, and documentation are complete."
    title="My passion is full-stack web development"
    [imageSource]="environment.assetPrefix + 'code-sample.png'"
  ></home-page-single-image-statement>
  <home-page-skill-list></home-page-skill-list>
  <shared-contact-me-banner header="So you like what you see?"></shared-contact-me-banner>
  <shared-contact-me-banner
    header="Now that you know me a little better, lets talk."
  ></shared-contact-me-banner>
</div>
