/* You can add global styles to this file, and also import other style files */
@forward './app/styles/theme';
@use '@angular/material' as mat;
@use './app/styles/theme' as theme;

@include mat.core();
@include mat.all-component-themes(theme.$theme);
//  @import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

body,
html {
  margin: 0;
  padding: 0;
}

.col,
.row,
.flex {
  display: flex;
  flex: 1;
  gap: 1rem;
}

.mat-icon {
  font-family: 'Material Icons';
}

.mat-flat-button {
  background-color: hsl(0, 0%, 80%);
}

.cap-first::first-letter {
  text-transform: capitalize;
}
