/* You can add global styles to this file, and also import other style files */
@forward './app/styles/theme';
@use '@angular/material' as mat;
@use './app/styles/theme' as theme;

@include mat.core();
@include mat.all-component-themes(theme.$theme);
//  @import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
body,
html {
  margin: 0;
  padding: 0;
  color: map-get(theme.$text-gray, default);
}

$min-title-size: 2rem;
@mixin font_growth_changes($font-growth) {
  h1 {
    font-size: calc($min-title-size * 6 * $font-growth);
  }

  h2 {
    font-size: calc($min-title-size * 5 * $font-growth);
  }

  h3 {
    font-size: calc($min-title-size * 4 * $font-growth);
  }

  h4 {
    font-size: calc($min-title-size * 3 * $font-growth);
  }

  h5 {
    font-size: calc($min-title-size * 2 * $font-growth);
  }

  h6 {
    font-size: calc($min-title-size * 1 * $font-growth);
  }
}

@media (min-width: map-get(theme.$breakpoints, large)) {
  $font-growth: 0.5;
  @include font_growth_changes($font-growth);
}

@media (max-width: map-get(theme.$breakpoints, large)) {
  $font-growth: 0.4;
  @include font_growth_changes($font-growth);
}

@media (max-width: map-get(theme.$breakpoints, medium)) {
  $font-growth: 0.3;
  @include font_growth_changes($font-growth);
}

.col,
.row,
.flex {
  flex: 1;
  gap: 1rem;
}

.flex2 {
  flex: 2;
}

.col,
.row {
  display: flex;
}

.col {
  flex-direction: column;
}

button {
  text-wrap: nowrap;
}

.mat-icon {
  font-family: 'Material Icons';
}

.mat-flat-button {
  background-color: hsl(0, 0%, 80%);
}

.cap-first::first-letter {
  text-transform: capitalize;
}

.subtitle {
  font-size: 1.5rem;
  color: map-get(theme.$text-gray, lighter);
}
