<div class="contents" style="background-image: url('{{ imageSource }}')">
  <div class="col">
    <h2>{{ statement }}</h2>
    <div class="row">
      <a href="mailTo:{{ email }}">
        <shared-stroked-button [lightText]="true" [oversized]="true" [stroke]="BasicColors.accent">
          Contact Stu
        </shared-stroked-button>
      </a>
      <a download [href]="resumeDownload">
        <shared-stroked-button [lightText]="true" [oversized]="true">
          Download Resume
        </shared-stroked-button>
      </a>
    </div>
  </div>
</div>
