<div class="contents row">
  <div class="col">
    <h3>Let's talk about my stack</h3>
    <div class="row">
      <div class="flex col">
        <h6>Day to Day use</h6>
        <ul>
          <li>Angular</li>
          <li>Typescript</li>
          <li>HTML / SCSS</li>
          <li>Docker</li>
          <li>git</li>
          <li>Linux</li>
          <li>Material Design</li>
        </ul>
      </div>
      <div class="flex col">
        <h6>Good understanding</h6>
        <ul>
          <li>Django / REST framework</li>
          <li>Gitlab CI / CD</li>
          <li>AWS EC2</li>
          <li>UI / UX Design</li>
          <li>Prettier setup</li>
          <li>SVG editing and tooling</li>
        </ul>
      </div>
      <div class="flex col">
        <h6>Familiarity with</h6>
        <ul>
          <li>React</li>
          <li>Java</li>
          <li>c++</li>
          <li>Vue</li>
          <li>Jquery</li>
          <li>Python</li>
        </ul>
      </div>
    </div>
  </div>
</div>
