@use '/src/styles.scss' as styles;

.contents {
  color: map-get(styles.$text-gray, lightest);
  background-color: map-get(styles.$background-levels-dark, default);
  min-height: 50vh;
  padding: 5rem;

  & > .col {
    justify-content: center;
    align-items: center;

    h6 {
      color: map-get(styles.$warn, default);
    }
  }

  h3 {
    text-align: center;
    color: map-get(styles.$text-gray, lightest);
  }

  .row {
    max-width: 100rem;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2rem;

    & > div {
      min-width: 10rem;
    }
  }
}

.row {
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
