<div class="contents row">
  <div class="col">
    <h3>Let's talk about my stack</h3>
    <div class="skill-area">
      <div class="flex col">
        <shared-circle-image-statement
          alt="Icon of two people"
          description="I strive to lead by example to ensure the team stays efficient and organized. I prioritize inclusivity and team unity."
          image="{{ environment.assetPrefix }}custom-icons/people.svg"
          title="People person"
        ></shared-circle-image-statement>
      </div>
      <div class="flex col">
        <shared-circle-image-statement
          alt="Code icon"
          description="Technology moves fast and developers must adapt. I focus on staying up to date with current technologies and understanding the 'why' behind the 'what'."
          image="{{ environment.assetPrefix }}custom-icons/code.svg"
          title="Technically advanced"
        ></shared-circle-image-statement>
      </div>
      <div class="flex col">
        <shared-circle-image-statement
          alt="Code icon"
          description="Technology integrates with everything we do and feel. I emphasize visual design and user experience to create welcoming complete applications."
          image="{{ environment.assetPrefix }}custom-icons/list.svg"
          title="Multifaceted"
        ></shared-circle-image-statement>
      </div>
    </div>
  </div>
</div>
