@use '/src/styles.scss' as styles;

.contents {
  background-color: map-get(styles.$background-levels, default);
  min-height: 50vh;

  @media (min-width: map-get(styles.$background-levels, medium)) {
    & {
      padding: 5rem;
    }
  }

  @media (max-width: map-get(styles.$background-levels, medium)) {
    & {
      padding: 2rem;
    }
  }

  & > .col {
    justify-content: center;
    align-items: center;

    .outline {
      border: black solid 2px;
      border-radius: 8px;
      padding: 1rem;
      background-color: map-get(styles.$background-levels, darker);
    }

    h6 {
      color: map-get(styles.$accent, default);
    }
  }

  h3 {
    text-align: center;
    color: map-get(styles.$text-gray, default);
  }

  .row {
    max-width: 100rem;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2rem;

    & > div {
      min-width: 10rem;
    }
  }
}

.row {
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
