<div class="contents row">
  <div class="col">
    <h3>Let's talk about my stack</h3>
    <div class="row">
      <div class="flex col outline">
        <h6>Soft Skills</h6>
        <ul>
          <li>Client Communication</li>
          <li>Team Management</li>
          <li>Efficient</li>
          <li>Organized</li>
          <li>Pragmatic</li>
        </ul>
      </div>
      <div class="flex col outline">
        <h6>Hard skills</h6>
        <ul>
          <li>Angular (TS, HTML, SCSS)</li>
          <li>Typescript</li>
          <li>Docker</li>
          <li>GitLab CI/CD</li>
          <li>Linux</li>
          <li>Sentry</li>
          <li>Django</li>
          <li>Python</li>
          <li>AWS</li>
        </ul>
      </div>
      <div class="flex col outline">
        <h6>Familiarity with</h6>
        <ul>
          <li>React</li>
          <li>Java</li>
          <li>c++</li>
          <li>Vue</li>
          <li>Jquery</li>
          <li>Python</li>
        </ul>
      </div>
    </div>
  </div>
</div>
